{
    "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript" ],
        "targets": {
          "esmodules": true
        },
    "plugins": ["@babel/plugin-transform-runtime"]
  }