@import "../../styles/variables.scss";

.container {
  &__submenu {
    display: none;
    &__title {
      color: $lightgray;
      border-bottom: 1.5px solid $gray;
      font-weight: 600;
      font-size: 26px;
      line-height: 31px;
      position: relative;
      padding-bottom: 28px;
      text-align: center;
      cursor: pointer;
      svg {
        transform: rotate(180deg);
        position: absolute;
        left: 0;
        top: 8px;
      }
    }
    &.active {
      display: block;
    }
  }
  &__col {
    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: $lightgray;
      text-transform: uppercase;
      padding: 18px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1.5px solid $gray;
      svg {
        transform: rotate(90deg);
        cursor: pointer;
      }
      &.active {
        svg {
          transform: rotate(-90deg);
        }
      }
    }
    a {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $gray;
      padding: 20px 0;
      border-bottom: 1px solid $lightgray;
    }
    &__nodropdown {
      padding: 0;
      &__item {
        &:last-child {
          a {
            .container__col__title {
              border: none;
            }
          }
        }
      }
    }
  }
}
